#main-panel {
    /* Use a trianglify.io bakcground? */
    background-color: #fbfbfb;
    background-size: 100%;
    height: 100vw;
}

#social-login {
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #e8e8e8;
    padding: 16px;
    margin-bottom: 24px;
}

#social-login > Button {
	margin: 6px 0;
    box-shadow: 0 2px 4px 0 rgba(62,80,104,0.32);
}

#app-logo {
    height: 35%;
	width: 35%;
	margin: 25px auto;
	display: block;
}

.ant-btn > .anticon + span,
.ant-btn > span + .anticon {
	margin-left: 15px;
}

/*
* Makes the card style around a tab
*/

.card-container > .ant-tabs-card > .ant-tabs-content {
    margin-top: -16px;
    border-radius: 4px;
}

.card-container > .ant-tabs-card > .ant-tabs-content > .ant-tabs-tabpane {
    background: #fff;
    border-left: 1px solid #e8e8e8;
    border-right: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
	padding: 16px;
}

.ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab {
    margin-right: 0;
}

.card-container > div > div.ant-tabs-bar.ant-tabs-top-bar.ant-tabs-card-bar > div > div > div > div {
    width: 100%;
}

.card-container > .ant-tabs-card > .ant-tabs-bar .ant-tabs-tab {
	width: 50%;
}