.flow-home-header {
    margin: 1em;
    font-size: 18px;
    padding: 12px !important;
}

.header-btn {
    width: 45%;
    display: inline-block;
}

@media all and (max-width: 768px) {
	.btn-text {
        display: none !important;
    }
}

#flow-logo {
    /* border-radius: 50px;
    background: #fff; */
    height: 20px;
    width: 20px;
    margin: 8px;
}