@import '../../App.scss';

.header-trigger {
	height: 30px;
    padding: 5px 5px 5px 0;
    margin: 5px 0;
	font-size: 20px;
	cursor: pointer;
	transition: all .3s, padding 0s;
}

#app-headernav-logo, #app-headernav-logo-main {
    height: 30px;
    padding: 4px;
    margin:  5px;
	vertical-align: middle;
}

.ant-avatar {
    height: 30px;
    line-height: 40px;
    padding: 5px;
	border: 2px solid rgb(246, 246, 246);
    border-radius: 100px;
}

.ant-layout-header {
	padding: 0;
    line-height: 30px;
    // display: flex;           /* default value; can be omitted */
    // justify-content: space-between; /* switched from default (flex-start, see below) */
}


@media all and (min-width: 768px) {
    .header-trigger {
        display: none !important
    }

    #app-headernav-logo {
        display: none !important
    }

}

@media all and (max-width: 768px) {
	.ant-dropdown {
        width: calc(100% - 48px) !important;
        left: 24px !important;
    }
    .ant-dropdown-menu {
        border-radius: 0 !important;
    }

    #app-headernav-logo-main {
		display: none !important;
    }

    #username {
        display: none !important
    }

}
