@import '../../App.scss';

.header-trigger {
	height: 30px;
	padding: 5px;
	font-size: 20px;
	cursor: pointer;
	transition: all .3s, padding 0s;
}

#app-headernav-logo-div {
	position: relative;
    margin: 5px 0;
	height: 30px;
	line-height: 30px;
	transition: all .3s;
}

#app-headernav-logo {
	display: inline-block;
	height: 30px;
	vertical-align: middle;
}

#app-header-logo-title {
    display: inline-block;
    margin: 0;
    font-weight: 800;
    font-size: 24px;
    vertical-align: middle;
}

.ant-avatar {
	border: 1px solid rgb(246, 246, 246);
    border-radius: 100px;
    transition: all 0.2sprimary
}

.ant-layout-header {
	padding: 0;
    line-height: 40px;
    // display: flex;           /* default value; can be omitted */
    // justify-content: space-between; /* switched from default (flex-start, see below) */
}


@media all and (min-width: 768px) {
    .header-trigger {
        display: none !important
    }
}

@media all and (max-width: 768px) {
	.ant-dropdown {
        width: calc(100% - 48px) !important;
        left: 24px !important;
    }
    .ant-dropdown-menu {
        border-radius: 0 !important;
    }

    #app-header-logo-title {
		display: none !important;
	}
}
