#app-sidebar-logo-div {
    position: relative;
    height: 64px;
    padding-left: 24px;
    overflow: hidden;
    line-height: 64px;
    transition: all .3s;
}


#app-sidebar-logo {
    display: inline-block;
    height: 32px;
    vertical-align: middle;
}

#app-sidebar-logo-title {
    display: inline-block;
    margin: 0 0 0 12px;
    font-weight: 800;
    font-size: 20px;
    vertical-align: middle;
}

#signin-login-btn {
	width: 80%;
	margin-left: 10%;
	margin-top: 10%;
}

.light {
	background: #fff;
	color: rgba(0, 0, 0, 0.64)
}

.dark {
	background: #1f2a2e;
	color: #fff;
}

.sider {
	-moz-box-shadow: -3px 0 10px 0 #999;
	-webkit-box-shadow: -3px 0 10px 0 #999;
	box-shadow: -3px 0 10px 0 #999;
}
