.ant-layout-sider {
    min-height: 100vh;
    box-shadow: 2px 0 6px rgba(0, 21, 41, 0.35);
    position: relative;
    z-index: 10;
}

div.ant-drawer-body {
    padding: 0;
}

.ant-drawer-left > .ant-drawer-body {
    padding: 0;
}

#app-sidebar-logo-div {
    position: relative;
    height: 64px;
    padding-left: 24px;
    overflow: hidden;
    line-height: 64px;
    transition: all .3s;
}


#app-sidebar-logo {
    display: inline-block;
    height: 48px;
    vertical-align: middle;
}

#app-sidebar-logo-title {
    display: inline-block;
    margin: 0 0 0 12px;
    font-weight: 800;
    font-size: 24px;
    vertical-align: middle;
}

.light {
	background: #fff;
	color: rgba(0, 0, 0, 0.64);
    transition: all .5s;
}

.dark  {
    background: inherit;
	color: #d9d9d9 !important;
    transition: all .01s;
}

.sider-shadow-light {
     box-shadow: 2px 0 6px rgba(0,21,41,.1);
	-moz-box-shadow: 2px 0 6px rgba(0,21,41,.1);
	-webkit-box-shadow: 2px 0 6px rgba(0,21,41,.1);
}

.sider-shadow-dark {
     box-shadow: 2px 0 6px rgba(0,21,41,.35);
	-moz-box-shadow: 2px 0 6px rgba(0,21,41,.35);
	-webkit-box-shadow: 2px 0 6px rgba(0,21,41,.35);
}
