// Light Theme
$light-theme-color: #FFF;
$light-theme-font-color: rgba(0, 0, 0, 0.64);
$primary-color: #1CCCA3;
$primary-color-hover:#45D5B3;
$success-color: #1CCCA3;                        // success state color
$warning-color: #FFE060;                      	// warning state color
$error-color: #F25F5C;                          // error state color

// Dark Theme
$dark-theme-color: #3A3A3A;
$dark-theme-font-color: #d9d9d9;

