div.ant-card {
    border-radius:4px;
}

.ant-card-actions {
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

@media all and (max-width: 667px) {
    div.ant-card {
        border-radius: 0;
        border: none;
    }

    .ant-card-actions {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }
}

div.ant-card-head-title {
    text-align: left;
}

div.ant-card-body {
    padding: 0;
    padding-bottom: 4px;
}

div.ant-card-grid {
    box-shadow: none;
    border: none;
    padding: 8px;
}


div.ant-card-grid:hover {
    box-shadow: none;
    z-index: inherit !important;
    position: inherit !important;
}

.flow-card-content {
    margin: 0 24px;
    text-align: left;
    font-size: 18px;
}

#flow-activity-icon {
    margin-right: 16px;
}

.flow-card-timestamp  {
    padding-top: 5% !important;
    padding-bottom: 0 !important;
    font-weight: 200;
    font-size: 8pt;
}

div.ant-skeleton-header, div.ant-skeleton-content {
    padding: 24px 24px 20px 24px;
}
