div  h1, h2, h3, h4, h5, h6 {
    color: unset;
}

div.ant-card {
    border-radius: 8px;
}

.ant-card-actions {
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    color: unset;
    background: none;
    border: none !important;
}

.ant-card-actions > li {
    color: unset;
    border: none !important;
}

div.ant-card-head {
    text-align: left;
    font-weight: bold;
    border: none !important;
}

div.ant-card-body {
}

div.ant-card-grid {
    box-shadow: none;
    border: none;
}


div.ant-card-grid:hover {
    box-shadow: none;
    z-index: inherit !important;
    position: inherit !important;
}

.ant-badge-status-dot {
    height: 8px;
    width: 8px;
}

.flow-card-content {
    text-align: left;
    font-size: 14px;
}

#flow-activity-icon {
    margin-right: 8px;
    font-size: 22px;
}

.flow-card-timestamp  {
    padding-top: 5% !important;
    padding-bottom: 0 !important;
    font-weight: 200;
    font-size: 9pt;
}

div.ant-skeleton-header, div.ant-skeleton-content {
    padding: 24px 24px 20px 24px;
}

@media all and (max-width: 667px) {
    div.ant-card {
        border: none;
    }
}