div.ant-card {
    border-radius: 8px;
    padding: 6px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.20);
}

.ant-card-actions {
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    background: none;
}

.ant-card-actions > li {
    margin: 9px 0 4px 0;
}

div.ant-card-head {
    text-align: left;
    font-weight: bold;
    padding: 0 8px;
}

div.ant-card-body {
    padding: 0;
    padding-bottom: 4px;
}

div.ant-card-grid {
    box-shadow: none;
    border: none;
    padding: 8px;
}


div.ant-card-grid:hover {
    box-shadow: none;
    z-index: inherit !important;
    position: inherit !important;
}

.ant-badge-status-dot {
    height: 8px;
    width: 8px;
}

.flow-card-content {
    text-align: left;
    font-size: 14px;
}

#flow-activity-icon {
    margin-right: 8px;
    font-size: 22px;
}

.flow-card-timestamp  {
    padding-top: 5% !important;
    padding-bottom: 0 !important;
    font-weight: 200;
    font-size: 8pt;
}

div.ant-skeleton-header, div.ant-skeleton-content {
    padding: 24px 24px 20px 24px;
}

#content {
    border-left: 3px solid #e1e1e1;
    cursor: text;
    padding: 8px;
    margin-top: 1em;
    margin-bottom: 1em;
    background: #fefefe;
}

@media all and (max-width: 667px) {
    div.ant-card {
        border: none;
    }
}