div.ant-card-body {
    padding: 0px;
    padding-bottom: 4px;
}

div.ant-card-grid {
    box-shadow: none;
    border: none;
    padding: 8px;
}

div.ant-card-grid:hover {
    box-shadow: none;
    z-index: inherit !important;
    position: inherit !important;
}

.flow-card-timestamp  {
    padding-top: 5% !important;
    padding-bottom: 0 !important;
    font-weight: 200;
    font-size: 8pt;
}

.flow-card-content {
    text-align: left;
}

div.ant-skeleton-header, div.ant-skeleton-content {
    padding: 24px 24px 20px 24px;
}

#flow-icon > svg {
    height: 24px;
    width: 24px;
}